@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Rajdhani:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font1: "Bungee Hairline", sans-serif;
    --font2: "Rajdhani", sans-serif;
}

body{
    background: rgb(243, 240, 240) url('../images/wallpaper004.jpg') center center no-repeat fixed;
    background-size: cover;
}
div#container{
    position: relative;
    top: 18vh;
    left:25vw;
    max-width: 800px;
    height: 500px;
    min-width: 300px;
    background-color: rgb(44, 43, 43);
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 15px;
    box-shadow: 5px 5px 160px rgba(0, 0, 0, 0.242);
    color: rgb(235, 235, 235);
}

h1{
    margin: 0px;
    padding: 20px 10px;
    font-family: var(--font1);
    font-size: 3em;
    letter-spacing: 5px;
}

section#social-media{
    position: absolute;
    top: 8.5%;
    left: 77%;
    word-spacing: 30px;
}


a{
    color:rgb(193,193,193);
    text-align: right;
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 900;
    font-size: 2em;
}

a:hover{
   color: white;
   transition: color 0.2s;
}

a#linkedin:hover{
    font-weight: bolder;
}

p{
    padding-left: 20px;
    margin-bottom: 25px;
    display: block;
    max-width: 400px;
    min-width: 150px;
    text-align: justify;
    font-family: var(--font2);
    font-size: 1.2em;
    letter-spacing: 0.01em;
}

section#portifolio{
    font-family: var(--font2);
    color:white;
    font-size: 0.4em;
    position: absolute;
    bottom: 5%;
    left: 65%;
    text-align: justify;
    letter-spacing: 0.01em;
}


section#portifolio h2{
    text-align: justify;
    font-family: var(--font1);
    color:rgb(193,193,193);
    font-size: 5em;
}

section#portifolio:hover h2{
    color: white;
}

section#portifolio p{
    margin-left: -17px;
    display: none;
}

section#portifolio:hover p{
    margin-left: -17px;
    display: block;
}
